USE [master]
GO
/****** Object:  Database [testClient]    Script Date: 02/11/2016 01:25:37 p. m. ******/
CREATE DATABASE [testClient]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'testClient', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\testClient.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'testClient_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\testClient_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [testClient].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [testClient]
GO
/****** Object:  Table [dbo].[MARKER]    Script Date: 02/11/2016 01:25:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MARKER](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[latitud] [numeric](37, 0) NOT NULL,
	[longitud] [numeric](37, 0) NOT NULL,
	[address] [varchar](100) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
